.home__header
	background: #ed207b
	height: 80px
	padding: 10px

.home__header-container
	text-align: right

.home__header-container-icon
	color: $white
	font-size: 30px

.home__container
	text-align: center
	padding: 40px 0

.home__container-copy
	margin: 0 auto
	font-size: 30px
	color: #653b83

.home__button-peep
	margin: 0 auto
	margin-bottom: 60px
	text-align: center
	width: 244px
	height: 70px
	color: #fff
	font-size: 30px
	padding: 15px
	background-image: -webkit-linear-gradient(top, #ec207b, #7c499b)
	background-image: linear-gradient(top, #ec207b, #7c499b)
	border-radius: 6px

.home__button-peep-link
	display: block
	width: 100%
	height: auto
	color: #fff
	text-decoration: none
	&:hover
		text-decoration: none
		color: #fff

.form-control-lg
	margin: 0 auto
	margin-bottom: 30px
	width: 70%
	height: 50px
	border: none

.home__footer
	color: #653b83
	text-align: center
	padding-bottom: 40px
